.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin-top: 200px;
}

.purple {
    background-color: #3e00b3;
    border-radius: 30px;
    color: white;
    height: 350px;
    padding: 20px 30px;
    width: 250px;
    position: relative;
    left: 30px;
}

.your-score, .para-sec, .first-para {
    color: whitesmoke;
    text-align: center;
}

.circle {
    border-radius: 100%;
    background-color: #4E31AA;
    height: 130px;
    margin: 0 auto;
    width: 130px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
    position: relative;
    top: 20px;
    text-align: center;
}

.great {
    text-align: center;
}

.white {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 20px 0 grey;
    color: rgb(59, 58, 58);
    height: 350px;
    padding: 20px 20px 20px 50px;
    width: 250px;
}

.sum {
    font-size: 2rem;
}

.icon {
    position: relative;
    top: 4px;
    margin-left: 5px;
}

.reaction {
    background-color: #F7C8E0;
    border-radius: 8px;
    height: 40px;
    width: 230px;
}

.penal {
    position: relative;
    top: 5px;
}

.react {
    color: #E90064;
}

.re-score {
    position: relative;
    left: 50px;
}

.re-overall {
    color: grey;
    position: relative;
    left: 50px;
}

.memory {
    background-color: #FDF7C3;
    border-radius: 8px;
    height: 40px;
    width: 230px;
}

.mem {
    color: #FEFF86;
}

.me-score {
    position: relative;
    left: 55px;
}

.me-overall {
    color: grey;
    position: relative;
    left: 55px;
}


.verbal {
    background-color: powderblue;
    border-radius: 8px;
    height: 40px;
    width: 230px;
}

.ver {
    color: cyan;
}

.ve-score {
    position: relative;
    left: 70px;
}

.ve-overall {
    color: grey;
    position: relative;
    left: 70px;
}


.visual {
    background-color: violet;
    border-radius: 8px;
    height: 40px;
    width: 230px;
}

.vis {
    color: blueviolet;
}

.vi-score {
    position: relative;
    left: 73px;
}

.vi-overall {
    color: grey;
    position: relative;
    left: 73px;
}

.continue {
    background-color: rgb(59, 58, 58);
    height: 45px;
    width: 230px;
    border-radius: 15px;
}

.cont {
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
}